.plugin-commit-log__name{
    text-align: left;
    padding-left: 50px
}

.plugin-commit-log__avatar {
    display: inline-block;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-right: 8px
}